img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.memeContainer {
    width: 400px;
    height: auto;
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

Container{

}

.memeText {
    position: absolute;
    font-family: Impact;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    background-color: transparent;
    border: none;
    text-align: center;
    resize: none;
}

.memeText:focus{
    outline: none;
}

::placeholder{
    color: white;
    text-align: center;
}

.upper {
    width:90%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower {
    width: 90%;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation{
    display: flex;
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

