.react-share__ShareButton{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#preview {
    width: 350px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}