img {
    width: 350px;
    height: auto;
    display: block;
    z-index: -1;
}

.memeCreatorContainer {
    margin-top: 64px;
}

.memeContainer {
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.memeText {
    position: absolute;
    font-family: Impact;
    -webkit-text-fill-color: white;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    background-color: transparent;
    border: none;
    text-align: center;
    resize: none;
}

.memeText:focus {
    outline: none;
}

::placeholder {
    color: white;
    text-align: center;
}

.upper {
    position: absolute;
    width: 90%;
    top: 15%;
    left: 50%;
}

.lower {
    position:absolute;
    width: 90%;
    bottom: -15%;
    left: 50%;
}

.saveButton {
    margin-left: 16px;
}

.dataBaseControls {
    margin-top: 10%;
}

.arrows {
    margin-top: 200% !important;
}

.textFormatButton {
    margin-bottom: 5px !important;
}

.textFormatButton:focus {
    outline: none;
}

.textFormatSelect {
    margin-left: 10px !important;
    margin-top: 5px !important;
}

.radioButtonFormat {
    margin-top: 10% !important;
}

.textFieldTitleFormat {
    margin-top: 5% !important;
}

.colorPicker{
    z-index: 2;
    position: absolute !important;
}

.hidden{
    display:none;
    width: 350px;
    height: auto;
}

.selection{
    margin:15px !important;

    height: 35px;
}

.MuiPaper-elevation1 {
    box-shadow: none !important;
}
.MuiAccordion-root:before {
    background-color: white !important;

}
