.memeViewContainer {
    margin: 10px;
}

.memeContainer {
    width: auto;
    height: auto;
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.memeText {
    position: absolute;
    font-family: Impact;
   -webkit-text-fill-color: white;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
    background-color: transparent;
    border: none;
    text-align: center;
    resize: none;
}

#memeViewDiv {
    width: auto;
    max-width: 450px;
    height: auto;
    float: right;
    margin-right: 50px;
    
}


.upper {
    width: 90%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower {
    width: 90%;
    bottom: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.memeViewImg {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;

}

.imageDiv {
  text-align: right;
}


#meme-title{
    color: #000;
}

.rateMemeButtons {
    flex: 1 ;
  align-self: end;
       
}