.memeViewContainer {
    margin: 10px;
}

#memeDiv {
    width: auto;
    max-width: 450px;
    height: auto;
    float: right;
    margin-right: 50px;
    
}

.memeImg {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;

}

.memeInfo {
    position: absolute;
}

#meme-title{
    color: #000;
}

.rateMemeButtons {
    flex: 1 ;
       
}