.modal {
    margin-top: 16px !important;
    margin-right: 16px !important;
    margin-left: 16px !important;
    width: 90% !important;
}

#fileUploaded{
   display: none;
}

.custom-file-upload {
    color: #fff;
    width: 90%;
    background-color: #333333;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    display: inline-block;
    cursor: pointer;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    margin: 16px 16px 0px !important;
    padding: 6px 16px;
   text-align: center;
}
input[type="file"] {

 }

.camera{
    width: 500px;
}




