img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.memeContainer {
    position: relative;
    text-align: center;

}

.memeText {
    position: absolute;
    font-family: Impact;
    color: white;
    font-size: 30px;
    -webkit-text-stroke: 1px black;
}

.upper {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lower {
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}